flows_autoai.json
[{"id":"86e84371.b7a6b","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cea04ad3.340498","type":"function","z":"86e84371.b7a6b","name":"","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey=\"CMNlzdJOTkWmlpL7kB6r-FTYBDxuRLCdKlEKRTMjpFSn\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":340,"wires":[["1647fb18.e83b55"]]},{"id":"1647fb18.e83b55","type":"http request","z":"86e84371.b7a6b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":439,"y":328.9999952316284,"wires":[["9a458104.5d8f4"]]},{"id":"df99dab.2e86928","type":"debug","z":"86e84371.b7a6b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":878.0000114440918,"y":70.99999713897705,"wires":[]},{"id":"9a458104.5d8f4","type":"function","z":"86e84371.b7a6b","name":"","func":"var token=msg.payload.access_token\nvar instance_id=\"ba5fd9d7-feea-4366-8cb5-94a35cab6a5c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\n// msg.payload = {\"input_data\": [{\"fields\": [\"Year\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\", \"Country\", \"Status\", \" BMI \"], \"values\": [a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]}]}\n\nmsg.payload = { \"fields\":['Year', 'Adult_Mortality',\n      'Infant_Deaths', 'Alcohol', 'Percentage_Exp', 'HepatitisB',\n      'Measles', 'Under_Five Deaths', 'Polio', 'Total_Exp',\n      'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness_1to19_years',\n      'thinness_5to9_years', 'Income_Comp_Of_Resources', 'Schooling', 'Country', 'Status','Ordinal_BMI'],\n      'values':[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\n\n//msg.payload={\"fields\": [\"Year\",\"Adult_Mortality\",\"Infant_Deaths\",\"Alcohol\",\"Percentage_Exp\",\"HepatitisB \",\"Measles\",\"Under_Five_Deaths\",\"Polio\",\"Tot_Exp\",\"Diphtheria\",\"HIV_AIDS\",\"GDP\",\"Population\",\"thinness_1to19_years\",\"thinness_5to9_years\",\"Income_Comp_Of_Resources\",\"Schooling\",\"Country\",\"Status\",\"Ordinal_BMI\"], \"values\": [[Year,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,Under_Five_Deaths,Polio,Tot_Exp,Diptheria,HIV_AIDS,GDP,Population,thinness_1to19_years,thinness_5to9_years,Income_Comp_Of_Resources,Schooling,Country,Status,Ordinal_BMI]]}\n//msg.payload={\"fields\": [\"years of experince\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":606.0000076293945,"y":291.9999990463257,"wires":[["3c689958.6d3366"]]},{"id":"3c689958.6d3366","type":"http request","z":"86e84371.b7a6b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v3/wml_instances/ba5fd9d7-feea-4366-8cb5-94a35cab6a5c/deployments/675a7887-6834-41e2-8054-57a144fdd59c/online","tls":"","persist":false,"proxy":"","authType":"","x":729.5000076293945,"y":235.99999904632568,"wires":[["df99dab.2e86928","3d5d1436.b4067c"]]},{"id":"1bcd2f7c.a4fb31","type":"ui_form","z":"86e84371.b7a6b","name":"","label":"","group":"db8a0d0.04998f","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"Infant Deaths\t","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles","value":"g","type":"number","required":true,"rows":null},{"label":"Under Five Deaths","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"k","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":"Thinness 1 to 19 years","value":"o","type":"number","required":true,"rows":null},{"label":"Thinness 5 to 9 years ","value":"p","type":"number","required":true,"rows":null},{"label":"Income Composition Of Resources ","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Country","value":"s","type":"text","required":true,"rows":null},{"label":"Status","value":"t","type":"text","required":true,"rows":null},{"label":"BMI","value":"u","type":"text","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":323.9999952316284,"wires":[["cea04ad3.340498"]]},{"id":"3d5d1436.b4067c","type":"ui_text","z":"86e84371.b7a6b","group":"db8a0d0.04998f","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload.values[0][0]}}","layout":"row-spread","x":787.6000366210938,"y":388.20000743865967,"wires":[]},{"id":"db8a0d0.04998f","type":"ui_group","z":"","name":"Life Expectancy","tab":"7dc54333.1f0c6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7dc54333.1f0c6c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]