flows_autoai.json
[{"id":"e51a2f0c.00fb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"40ebc39f.45a34c","type":"function","z":"e51a2f0c.00fb8","name":"","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey=\"CMNlzdJOTkWmlpL7kB6r-FTYBDxuRLCdKlEKRTMjpFSn\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\n\nreturn msg;","outputs":1,"noerr":0,"x":245,"y":316.0000047683716,"wires":[["b900943a.2953e8"]]},{"id":"b900943a.2953e8","type":"http request","z":"e51a2f0c.00fb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":454,"y":305,"wires":[["cbfad20e.bbdc"]]},{"id":"75b9cb19.3006f4","type":"debug","z":"e51a2f0c.00fb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":893.0000114440918,"y":47.00000190734863,"wires":[]},{"id":"cbfad20e.bbdc","type":"function","z":"e51a2f0c.00fb8","name":"","func":"var token=msg.payload.access_token\nvar instance_id=\"ba5fd9d7-feea-4366-8cb5-94a35cab6a5c\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\", \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\", \"Diphtheria \", \" HIV/AIDS\", \"GDP\", \"Population\", \" thinness  1-19 years\", \" thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"],  \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]}\n\n\n//msg.payload={\"fields\": [\"Year\",\"Adult_Mortality\",\"Infant_Deaths\",\"Alcohol\",\"Percentage_Exp\",\"HepatitisB \",\"Measles\",\"Under_Five_Deaths\",\"Polio\",\"Tot_Exp\",\"Diphtheria\",\"HIV_AIDS\",\"GDP\",\"Population\",\"thinness_1to19_years\",\"thinness_5to9_years\",\"Income_Comp_Of_Resources\",\"Schooling\",\"Country\",\"Status\",\"Ordinal_BMI\"], \"values\": [[Year,Adult_Mortality,Infant_Deaths,Alcohol,Percentage_Exp,HepatitisB,Measles,Under_Five_Deaths,Polio,Tot_Exp,Diptheria,HIV_AIDS,GDP,Population,thinness_1to19_years,thinness_5to9_years,Income_Comp_Of_Resources,Schooling,Country,Status,Ordinal_BMI]]}\n//msg.payload={\"fields\": [\"years of experince\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":621.0000076293945,"y":268.00000381469727,"wires":[["b6f3d611.aa2c48"]]},{"id":"b6f3d611.aa2c48","type":"http request","z":"e51a2f0c.00fb8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/1b30b726-8680-42d7-b2ba-9cea2340c588/predictions","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":260,"wires":[["75b9cb19.3006f4","4427a3a1.672acc"]]},{"id":"228196bf.eed67a","type":"ui_form","z":"e51a2f0c.00fb8","name":"","label":"Form","group":"ef3b98ae.3fe6e8","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":320,"wires":[["40ebc39f.45a34c"]]},{"id":"4427a3a1.672acc","type":"ui_text","z":"e51a2f0c.00fb8","group":"ef3b98ae.3fe6e8","order":2,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload.predictions[0].values[0][0]}}","layout":"row-spread","x":880,"y":420,"wires":[]},{"id":"ef3b98ae.3fe6e8","type":"ui_group","z":"","name":"AutoAI","tab":"14efb78a.6cf4f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"14efb78a.6cf4f8","type":"ui_tab","z":"","name":"AutoAI","icon":"dashboard","disabled":false,"hidden":false}]